<div class="form-group">
    <h4>Informações do Cliente</h4>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <label>Nome: </label>
        <input name="nome" #nome="ngModel" ngModel required><br>

        <label>Endereço: </label>
        <input name="endereco" #endereco="ngModel" ngModel><br>

        <div class="checkbox-submit">
            <label>
                Desejo entrega neste endereço
                <input type="checkbox" name="entregar" #entregar="ngModel" ngModel>
                <span> (:</span>
            </label>
        </div>
        <br><br>

        <p>Nome: {{ nome.value }}</p>
        <p>Endereço: {{ endereco.value }}</p>
        <p>Entregar: {{ entregar.value }}</p>

        <br>

        <button class="btn waves-effect waves-light" 
            (click)="saveUser(nome.value, endereco.value, entregar.value)" 
            routerLink="/carrinho" 
            routerLinkActive="active"> Salvar </button>
    </form>
</div>